.menu{position:absolute;
top:590px;
margin-left:30px;}

.menu a {
    color: blue;
    display: block;
    width: auto;
    padding-bottom: 50px;


}

.logo {
    z-index: 1;
    position: absolute;
    right: 140px;
    top: 460px;
    width: 120px;
}

.soccerimage1 {
    width: 1550px;
    height: 505px;
    background-image: url(../images/design1_image1.jpg);
    background-repeat : no-repeat;
     background-size:cover
}

.NYSLtitle {
    width: 100%;
    position: absolute;
    margin-top: 0.2em;
    margin-left: 0.2em;
    color: black;
    font-size: 50pt
}
.subtitles {
    position:absolute;
    font-size: 25pt;
    display:block;
    top:490px;
    width:100%;
     text-align: center;
    background-color: black;
    color: white;
}
.subtitles h2{
    margin:0;
}

.indent{
    padding-left: 25px;
}
.text{
    margin-left:200px;
    margin-top: 80px
}

.text p:nth-child(odd){
 font-style:italic;   
}
.text2{
    margin-left:200px;
    margin-top: 80px
    
}